.button-style{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button-style button{
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 2px;
   margin: 20px;
   outline: none;
   border: none;
}
.button-style button:hover{
    background-color: orange;
    color: white;
}
